
<%- contentFor('body') %>
<div class=" text-center">
    <div class="container mt-2S">
        <div class="col-md-12">            
            

            <div class="container col-md-12 ">
                
                <h4>Votar na Tech Shots favorita.</h4>                

                <% if(techshots.length>0){ %>
                    <% for(var i=0; i<techshots.length; i++) {%> 
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=techshots[i].titulo%></h5>
                                        <p class="card-text"><%=techshots[i].descricao%></p>
                                        <a href="#" class="btn btn-primary">Votar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
			    <% } %> 
            </div>
        </div>  
    </div>
</div>

